.invoices {
    margin: 20px;
  }
  
  .invoices h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .invoices table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .invoices th,
  .invoices td {
    padding: 8px;
    border: 1px solid #ccc;
    margin-right: 50px;

  }
  
  .invoices th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .invoices tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .invoices tbody tr:hover {
    background-color: #ebebeb;
  }
  