/* invoices.css */

.mainpart {
  margin: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  width: 400px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.textfield{
  width: 100%;
  padding: 10px;
  margin-bottom: 50px;
 margin-top: 50px;
width: 500px;
  border-radius: 5px;
  height: 80px;
}
.textfield label{
  display: block;
  margin-bottom: 20px;
  color: gray;
  width: 300px;
  margin-top: 20px;
  background-color: #fff;
  height: 17px;
}
input[type="file"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
 margin-top: 50px;
width: 500px;
  border-radius: 5px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.b1 {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.b1:nth-child(1) {
  background-color: #4caf50;
  color: #fff;
}

.b1:nth-child(2) {
  background-color: #f44336;
  color: #fff;
}
