* {
  box-sizing: border-box;
}

.layer {
  position: relative;
}

.parallax-search {
  background-image: url("../images/463.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.search-bar {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Adjusted alignment to flex-start */
  padding-top: 70px; /* Added padding-top to move the content higher */
}

.search-content {
  max-width: 970px;
  padding: 0 15px;
  text-align: center;
  margin-top: -10px; /* Adjusted negative margin to move the content higher */
}

.forma {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.search-wraps {
  width: 60%;
  margin: auto;
  padding-top: 100px;
  text-align: center;
}

.search-wraps h1 {
  color: #fff;
  font-size: 40px;
  text-align: center;
  font-weight: 300;
  font-family: "Lato", sans-serif;
  margin-top: 100px;
}

.search-wraps p {
  color: #fff;
  text-align: center;
}

.search-wraps h1 {
  color: #fff;
  font-size: 56px;
  text-align: center;
  font-weight: 300;
  font-family: "Lato", sans-serif;
}

.search-wraps p {
  color: #fff;
  text-align: center;
}

.search-content h1,
.search-content p {
  color: #fff;
}

/* Add additional styling as needed */
