.firstpart {
  align-items: center;
    justify-content: space-between;
   background-size:inherit;
    padding: 200px;
    margin-bottom: 0;
}
.text-- {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  font: 2em sans-serif;
  text-align:center;
}
.searchbar {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);}
.span {
  font-size: 18px;
}
