
.container {
  max-width: 100%;
  margin: 0 auto;
/* navbar.css */
}
/* sidebar.css */

.sidebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: red;
  padding: 10px;
}

.sidebar ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-right: 10px;
}

.sidebar li:last-child {
  margin-right: 0;
}

.sidebar a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
}


.h1-{
  font-size: xx-large;
  color: #fff;
  font-weight: 2000;
  margin-left:100px ;
}


.sidebar li a {
  color: #fff; /* Set the text color to white */
  font-size: 15px;
  font-style: bold;
}
