.menu-wrapper {
    display: flex;
    flex-direction: row;
    border: 2px solid #c3c3c3;
    padding: 15px 5px;
}

.pageTitle span {
    text-transform: capitalize;
}
.menu-wrapper .info,
.menu-wrapper .aside {
    width: 25%;
    border-radius: 4px;
}

.menu-wrapper .menu {
    list-style: none;
}

.menu-wrapper .menu li {
    border: 1px solid #c9c7c7;
    border-bottom: 0;
    color: #030303;
    padding: 10px 8px;
    font-size: 14px;
    background: #fff;
    position: relative;
}

.menu-wrapper .menu li::before {
    content: '';
    width: 2px;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background-color: #fff;
    transition: ease all 0.2s;
}

.menu-wrapper .menu li.active:hover::before,
.menu-wrapper .menu li.active::before{
    background-color: #D22B24;
}
.menu-wrapper .menu li:hover::before {
    background-color: #4242f1;
}

.menu-wrapper .menu p {
    margin: 0;
    cursor: pointer;
}

.menu-wrapper .menu-container {
    flex: 1;
    margin: 0 15px;
    background-color: #fff;
}

/* Menu Page container styling */

.menuPage {
    min-height: 100vh;
    background-color: #e5e5e5;
}

.menu-section {
    /* margin-bottom: 20px; */
}

.menu-section .header-wrapper {
    padding: 10px;
    border-bottom: 1px solid #c3c3c3;
}

.menu-section .header-wrapper h3 {
    margin-top: 0;
    font-size: 22px;
}

.menu-section .section-menu-items {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.menu-section .section-menu-items .section-menu-item {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #c3c3c3;
}

.menu-section .section-menu-items .section-menu-item .item-image {
    width: 120px;
    margin: 0 15px;
    height: 140px;
    background-color: #ccc;
}

.menu-section .section-menu-items .section-menu-item .item-image img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 140px;
}

.menu-section .section-menu-items .section-menu-item .item-desc {
    flex: 1;
    padding-top: 15px;
}

.menu-section .section-menu-items .section-menu-item p {
    margin: 0;
}

.menu-section .section-menu-items .section-menu-item .item-price {
    width: 75px;
    margin: 0 15px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}